.header-grid {
  padding: 0.5rem 0;
  .header-email {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }
}
